 ## Dictionaries and Sets

In [2]:
experience ={'Adam ':7, 'Sara' :10 , 'Adam':8 }
experience

{'Adam ': 7, 'Sara': 10, 'Adam': 8}

## Keys and Values

In [3]:
experience.keys()

dict_keys(['Adam ', 'Sara', 'Adam'])

In [4]:
experience.values ()

dict_values([7, 10, 8])

In [5]:
type(experience)

dict

In [6]:
len(experience)

3

In [8]:
experience['Yasmin']=6
experience

{'Adam ': 7, 'Sara': 10, 'Adam': 8, 'Yasmin': 6}

In [14]:
del(experience['Sara'])
experience

{'Adam ': 7, 'Adam': 8, 'Yasmin': 6}

In [15]:
dic2={'a':123 , 'b':[3,6], 'c': (3,'smith'),'d': 'Happy Year'}
dic2

{'a': 123, 'b': [3, 6], 'c': (3, 'smith'), 'd': 'Happy Year'}

In [16]:
dic2.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [17]:
dic2.values()

dict_values([123, [3, 6], (3, 'smith'), 'Happy Year'])

In [18]:
experience

{'Adam ': 7, 'Adam': 8, 'Yasmin': 6}

In [19]:
list_name= list(experience.keys())
list_name

['Adam ', 'Adam', 'Yasmin']

In [22]:
Years= list(experience.values())
Years

[7, 8, 6]

## Sets - Unique elements

In [23]:
a={'Kareem ','Hakeem ','Haleem','Raheem'}

In [24]:
b={1,1,7,9,9,6,0,4,5,6,6,6,4,3,2,3,5}

In [25]:
a

{'Hakeem ', 'Haleem', 'Kareem ', 'Raheem'}

In [26]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [28]:
c=[8,7,1,1,2,5,6,8,6,7,8,9,5,4,6,7,3,2,5,7]
c

[8, 7, 1, 1, 2, 5, 6, 8, 6, 7, 8, 9, 5, 4, 6, 7, 3, 2, 5, 7]

In [29]:
d=set(c)
d

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
len(d)

9

In [31]:
len(c)

20

In [32]:
e={3,5,2,6,6,6,7,3,2,8,6,3,5}
e

{2, 3, 5, 6, 7, 8}

 ## Union - intersection sets

In [33]:
total=e.union(d)
total

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
e.intersection(d)

{2, 3, 5, 6, 7, 8}

In [35]:
f=e.intersection(d)
f

{2, 3, 5, 6, 7, 8}

## Subset - Superset

In [36]:
# is subset 
set(e).issubset(total)

True

In [37]:
set(e).issubset(d)

True

In [38]:
set(e).issubset(b)

False

In [39]:
# is superset

set(total).issuperset(d)

True

In [40]:
set(e).issuperset(total)

False